body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header start */
header{
    width: 100%;
    color: #fff;
    display: flex;
}
.logo{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-left: 55px;
    margin-top: 10px;
    padding: 10px;
    color: black;
    cursor: pointer;
}
.nevber{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 290px;
}
.nevber ul{
    list-style: none;
}
.nevber ul li{
    background-color: transparent;
    backdrop-filter: blur(2px);
    width: 89px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    flex-wrap: wrap;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    word-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}
.nevber ul li a{
    text-decoration: none;
    color: #2f3542;
    
}
.nevber ul li a:hover{
    opacity: 1;
    color: black;
    text-decoration: underline;
    text-decoration-color: skyblue;
    text-decoration-thickness: 2px;
    font-weight: bold;
}
.nevber ul ul{
    display: none;
}
.nevber ul li:hover > ul{
    display: block;
}
.nevber .btn{
    margin-left: 50px;
    padding: 11px 30px;
    border-radius: 40px;
    background-color: #182C61;
    color: gold;
    border: none;
    outline: none;
    cursor: pointer;
}
.nevber .btn:hover{
    background-color: transparent;
    color: black;
    border: 2px solid gray;
}
/* mobile view */
@media (max-width:400px){
    body{
        width: 100%;
    }
    .logo{
        font-size: 18px;
        margin-left: 5px;
        font-weight: bolder;
    }
}
/* header end */

/* 1st view start */
.view-1st .img1{
    width: 550px;
    height: 400px;
    margin-left: 610px;
    margin-top: 165px;
}
.view-1st .S1{
    width: 531px;
    height: 399px;
    margin-left: 70px;
    margin-top: -404px;
}
.p1{
    margin-left: 10px;
    margin-top: 15px;
    font-size: 10px;
    border-radius: 40px;
    padding: 5px 11px;
    background-color: #f7d794;
    display: inline-block;
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.h01{
    width: 378px;
    font-size: 39px;
    margin-left: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #1B1464;
}
.h02{
    color: grey;
    font-size: 16px;
    width: 436px;
    line-height: 20px;
    margin-left: 18px;
    font-weight: lighter;
}
.btn1{
    padding: 16px 36px;
    font-size: 17px;
    border: none;
    outline: none;
    margin-left: 15px;
    border-radius: 50px;
    background-color: #1B1464;
    color: #fff;
    cursor: pointer;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: .2s;
    transition-timing-function: ease;
}
.btn1:hover{
    background-color: transparent;
    color: #1B1464;
    font-weight: lighter;
    border: 1px solid #1B1464;
}
.btn2{
    padding: 16px 36px;
    font-size: 17px;
    border: none;
    outline: none;
    margin-left: 10px;
    border-radius: 50px;
    background-color: transparent;
    color: #182C61;
    border: 1px solid #1B1464;
    cursor: pointer;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: .2s;
    transition-timing-function: ease;
}
.btn2:hover{
    background-color: #1B1464;
    color: #fff;
    font-weight: lighter;
}
/* 1st view end */

/* 2nd view start */
.h03{
    margin-left: 576px;
    margin-top: 60px;
    font-size: 10px;
    background-color: #f7d794;
    display: inline-block;
    border-radius: 50px;
    padding: 6px 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
}
.h04{
    margin-left: 500px;
    margin-top: -10px;
    color: #1B1464;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
}
.p2{
    width: 428px;
    margin-top: -15px;
    margin-left: 438px;
    text-align: center;
    color: grey;
}
.view-2nd main{
    display: grid;
    margin-top: 85px;
    grid-template-rows: 200px;
    grid-template-columns: repeat(3,1fr) 150px;
    margin-left: 180px;
    grid-column-gap: 5px;
}
.box1{
    background-color: white;
}
.box1 i{
    margin-top: 31px;
    margin-left: 128px;
    font-size: 53px;
    color: black;
}
.box1 .h05{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 45px;
    margin-top: 0;
}
.box1 .p3{
    width: 251px;
    color: #2f3542;
    margin-left: 34px;
    margin-top: -8px;
    text-align: center;
    line-height: 20px;
}
.box2{
    background-color: white;
}
.box2 i{
    margin-top: 31px;
    margin-left: 128px;
    font-size: 53px;
}
.box2 .h05{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 45px;
    margin-top: 0;
}
.box2 .p3{
    width: 251px;
    color: #2f3542;
    margin-left: 34px;
    margin-top: -8px;
    text-align: center;
    line-height: 20px;
}
.box3{
    background-color: white;
}
.box3 i{
    margin-top: 31px;
    margin-left: 128px;
    font-size: 53px;
}
.box3 .h05{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 45px;
    margin-top: 0;
}
.box3 .p3{
    width: 251px;
    color: #2f3542;
    margin-left: 34px;
    margin-top: -8px;
    text-align: center;
    line-height: 20px;
}
/* 2nd view end */

/* 3rd view start */
.view-3rd .img2{
    width: 550px;
    height: 400px;
    margin-left: 95px;
    margin-top: 130px;
}
.s2{
    width: 500px;
    height: 550px;
    margin-top: -430px;
    margin-left: 690px;
}
.s2 .h06{
    margin-top: 34px;
    margin-left: 35px;
    display: inline-block;
    background-color: #fad390 ;
    opacity: .9;
    color: orangered;
    border-radius: 50pc;
    padding: 4px 20px;
    text-align: center;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.s2 .h07{
    margin-top: -5px;
    margin-left: 38px;
    font-size: 50px;
    color: #1B1464;
    width: 209px;
    text-align: left;
    line-height: 55px;
}
.s2 .p4{
    width: 338px;
    margin-left: 46px;
    margin-top: 0;
    line-height: 20px;
    color: #2f3542;
}
.s2 .btn3{
    margin-top: 30px;
    margin-left: 55px;
    padding: 13px 33px;
    border-radius: 40px;
    background-color: #1B1464;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 17px;
}
.s2 .btn3:hover{
    background-color: transparent;
    color: #1B1464;
    border: 2px solid gray;
}
/* 3rd view end */

/* 4th view start */
.view-4th{
    width: 700px;
    height: 850px;
    margin-top: 210px;
    margin-left: 282px;
}
.view-4th .h08{
    margin-left: 295px;
    background-color: #f7d794;
    color: orangered;
    border-radius: 50px;
    padding: 3px 23px;
    display: inline-block;
}
.view-4th .h09{
    margin-top: -21px;
    margin-left: 213px;
    color: #1B1464;
    display: inline-block;
    font-size: 50px;
}
.m1{
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: repeat(2,1fr) 50px;
}
.m2{
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: repeat(2,1fr) 50px;
}
.m3{
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: repeat(2,1fr) 50px;
}
.box4{
    background-color: white;
    margin-top: 15px;
    margin-left: -5px;
    height: 200px;
    border: 1px solid wheat;
    width: 320px;
}
.box4 i{
    font-size: 50px;
    margin-left: 12px;
    margin-top: 20px;
    color: #2f3542;
}
.box4 h1{
    font-size: 20px;
    margin-top: -42px;
    margin-left: 90px;
    font-family: Arial, Helvetica, sans-serif;
}
.box4 p{
    margin-left: 90px;
    margin-top: -5px;
    width: 200px;
    color: grey;
}
.box5{
    background-color: white;
    margin-top: 15px;
    margin-left: 30px;
    height: 200px;
    border: 1px solid wheat;
    width: 320px;
}
.box5 i{
    font-size: 50px;
    margin-left: 12px;
    margin-top: 20px;
    color: #2f3542;
}
.box5 h1{
    font-size: 20px;
    margin-top: -42px;
    margin-left: 90px;
    font-family: Arial, Helvetica, sans-serif;
}
.box5 p{
    margin-left: 90px;
    margin-top: -5px;
    width: 200px;
    color: grey;
}
.box6{
    background-color: white;
    margin-left: -5px;
    height: 200px;
    border: 1px solid wheat;
    width: 320px;
}
.box6 i{
    font-size: 50px;
    margin-left: 12px;
    margin-top: 20px;
    color: #2f3542;
}
.box6 h1{
    font-size: 20px;
    margin-top: -42px;
    margin-left: 90px;
    font-family: Arial, Helvetica, sans-serif;
}
.box6 p{
    margin-left: 90px;
    margin-top: -5px;
    width: 200px;
    color: grey;
}
.box7{
    background-color: white;
    margin-left: 30px;
    height: 200px;
    border: 1px solid wheat;
    width: 320px;
}
.box7 i{
    font-size: 50px;
    margin-left: 12px;
    margin-top: 20px;
    color: #2f3542;
}
.box7 h1{
    font-size: 20px;
    margin-top: -42px;
    margin-left: 90px;
    font-family: Arial, Helvetica, sans-serif;
}
.box7 p{
    margin-left: 90px;
    margin-top: -5px;
    width: 200px;
    color: grey;
}
.box8{
    background-color: white;
    margin-left: -5px;
    height: 200px;
    border: 1px solid wheat;
    width: 320px;
}
.box8 i{
    font-size: 50px;
    margin-left: 12px;
    margin-top: 20px;
    color: #2f3542;
}
.box8 h1{
    font-size: 20px;
    margin-top: -42px;
    margin-left: 90px;
    font-family: Arial, Helvetica, sans-serif;
}
.box8 p{
    margin-left: 90px;
    margin-top: -5px;
    width: 320px;
    width: 200px;
    color: grey;
}
.box9{
    background-color: white;
    margin-left: 30px;
    height: 200px;
    border: 1px solid wheat;
    width: 320px;
}
.box9 i{
    font-size: 50px;
    margin-left: 12px;
    margin-top: 20px;
    color: #2f3542;
}
.box9 h1{
    font-size: 20px;
    margin-top: -42px;
    margin-left: 90px;
    font-family: Arial, Helvetica, sans-serif;
}
.box9 p{
    margin-left: 90px;
    margin-top: -5px;
    width: 200px;
    color: grey;
}
/* 4th view end */
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    background: #eee;
    height: 400px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 6000;
}
.footer-content h1{
    margin-left: 30px;
    margin-top: 40px;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-content h5{
    margin-left: 35px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-content p{
    width: 336px;
    margin-left: 34px;
    margin-top: -10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: grey;
}
.icons{
    margin-left: 33px;
    margin-top: 50px;
    font-size: 30px;
    word-spacing: 5px;
}
.icons a{
   text-decoration: none;
   color: #1B1464;
}
.s-ber{
    margin-top: 342px;
    margin-left: -692px;
}
.s-ber p{
    color: grey;
}
.footer-content h4{
    margin-left: 220px;
    font-size: 18px;
}
.footer-content li{
    margin-left: 223px;
    list-style: none;
    line-height: 25px;
}
.footer-content li a{
    text-decoration: none;
    color: grey;
    font-size: 16px;
}
.lo{
    margin-left: 0;
    width: 200px;
    line-height: 25px;
}